@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Quicksand', sans-serif;
}
header{
    background-color: rgb(252, 102, 16);
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 60px;
    margin-right: 30px;
    margin-left: 50px;
    
    
    
}
img{
<<<<<<< HEAD
    width: 20%;    
    border-radius: 10px;
    
    
}
=======
    display: block;
    margin: auto;
    border-radius: 20px;
    width:80px;
}

.filo{
    padding-top: 10px;
    font-style: oblique;
    font-weight: bold;
    display: block;
    text-align: center;
    color: antiquewhite;
}

>>>>>>> header

h1{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f3f3f7;
    margin-right: 30px;
    margin-left: 50px;
   
}

h2{
    font-size:25px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-right: 30px;
    margin-left: 50px;
    padding-top: 20px;
}

p{
    text-align: justify;
    border-top: 50px;
    margin-right: 30px;
    margin-left: 50px;
    padding-top: 20px;
}
